<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/2633/2633863.png"/>
    <title>voterlogin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: rgb(252, 23, 114);
            background: url('../images/ione-tree.avif') no-repeat;
            background-size: cover;
            background-position: center;
        }

        .wrapper {
            width: 420px;
            background: rgb(187, 69, 128);
            color: #fff;
            border: 2px solid black;
            backdrop-filter: blur(2px);
            border-radius: 16px;
            padding: 10px 10px;
            background: transparent;
        }


        .wrapper h1 {
            font-size: 35px;
            text-align: center;
            color: #fff;
        }

        .wrapper .input-box {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;
        }

        .input-box input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 36px;
            font-size: 16px;
            color: #111;
            font-weight: bold;
            padding: 20px 45px 20px 20px;
        }

        .input-box input::placeholder {
            color: #111;
        }

        .input-box i {
            color: #111;
            position: absolute;
            right: 20px;
            top: 40%;
            transform: translate(-50%);
            cursor: pointer;
        }



        .btn {
            width: 100%;
            height: 40px;
            background: #fff;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.1rem;
            margin-bottom: 10px;
        }

        .alert-msg {
            position: fixed;
            top: 170px;
            left: auto;
            color: #fff;
            width: 400px;
            height: 30px;
            font-size: 19px;
            font-weight: bold;
            border: 1px solid crimson;
            border-radius: 21px;
            padding: 5px 0 5px 10px;
            backdrop-filter: blur(2px);
            z-index: 100;
        }

        .alert-msg button {
            position: absolute;
            right: 10px;
            width: 20px;
            font-weight: bold;
            background: crimson;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    {{#if errorMessage}}
    <span class="alert-msg">
        {{errorMessage}}
        <button class="hideMsg">X</button>
    </span>
    {{/if}}
    <div class="wrapper">
        <form action="/voterlogin" method="post">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" name="username" placeholder="Username" autocomplete="off" required />
                <i class="fa-solid fa-user-tie"></i>
            </div>
            <div class="input-box">
                <input type="password" class="password" name="password" placeholder="Password" required />
                <i class="fa-solid fa-lock locking"></i>
            </div>
            <button type="submit" class="btn">LOGIN</button>
        </form>
    </div>
</body>
<script defer>
    try {
        let icon = document.querySelector('.locking');
        let hideMsg = document.querySelector('.hideMsg');

        //<====== toggle effect on password field ======>
        icon.addEventListener('click', () => {
            let pass = document.querySelector('.password')
            if (pass.type === "password") {
                pass.type = "text";
                icon.classList.toggle('fa-lock-open');
            } else {
                pass.type = "password";
                icon.classList.toggle('fa-lock-open');
            }

        });

        //<====== to hide error message or popup ======>
        hideMsg.addEventListener("click", () => {
            document.querySelector(".alert-msg").style.display = "none";
        });
    }
    catch (err) {
        
    }
</script>

</html>
